* {
	background-color: #F3F5FC;
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
	/* background:rgba(24, 2, 2, 0.021) !important; */
}

.logo {
	margin: 3% 0 0 4.5%;
}

body {
	height: 90vh;
}

main {
	width: 97vw;
	height: 90%;
	margin: 2% auto;
}

.flex-container {
	display: flex;
	flex-flow: row;
	justify-content: center;
}

.input-section {
	align-items: stretch;
	flex-grow: 2;
	margin: 0 0 0 9vw;
}

.input-text {
	border: none;
	color: #0A3871;
	width: 95%;
	height: 63vh;
	text-transform: lowercase;
	resize: none;

}
::paceholder {
	color: #0A3871;
}

.input-text:focus {
	outline: none;
}

.info-area {
	 display: flex;
   align-items: center;
}

.info {
	padding: 0 0.2rem;
	display: inline;
}

.info:last-child {
	font-size: 18px;
	color: #495057;
}

.btn {
	margin: 16px 0 0 0;
	display: flex;
	height: 67px;
}

.cryptBtn {
	background-color: #0A3871;
	border: 1px solid #0A3871;
	border-radius: 24px;
	color: #FFFFFF;
	cursor: pointer;
	height: 67px;
	width: 320px;
	font-size: 16px;
	transition-duration: 0.3s;
	
}
.cryptBtn:active {
	background: #052051;
	transform: scale(1.02);
}

.decryptBtn {
	background-color: #D8DFE8;
	border: 1px solid #0A3871;
	border-radius: 24px;
	color: #0A3871;
	cursor: pointer;
	height: 67px;
	width: 320px;
	margin: 0 0 0 24px;
	font-size: 16px;
	transition-duration: 0.3s;
}

.decryptBtn:active {
	background: #757FB2;
	transform: scale(1.02);
}
 

.output-section {
	margin: calc(-2.7% - 48px) 0 0 0;
	flex: 20px;
	height: 80vh;
	background: #FFFFFF;
	border-radius: 32px;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	padding: 3% 1%;
}

.output-textarea {
	display: flex;
	flex: 1;
	background: #FFFFFF;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 336px;
	height: 75vh;
}

.no-output {
	display: flex;
	flex-direction: column;	
	margin: 35% auto;
	width: 336px;
	justify-content: center;
	align-items: center;
	background: transparent;
}

.muneco {
	background: transparent;
	display: block;
	width: 336px;
	height: 304px;
}

.no-output-text{
	background: transparent;
	display: block;
}

.no-output-text > h6 {
	margin: 16px auto;
	text-align: center;
	background: transparent;
	font-size: 24px;
	color: #343A40;
	font-weight: 700;
	line-height: 120%;
	
}

.no-output-text > p {
	background: transparent;
	text-align: center;
	font-size: 18px;
	color: #495057;
	font-weight: 400;
	line-height: 24px;
}

.output-text {
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: none;
	outline: none;
	background: transparent;
	color: #0A3871;
	resize: none;
	height: 37.4rem;
  	width: 100%;
	margin: 0 auto 2rem;

}

.output-text:focus {
	outline: none;
}

.copyBtnArea {
	display: none;
	justify-content: center;
	height: 67px;
	background: transparent;
}

.copyBtn {
	background: #FFFFFF;
	border: 1px solid #0A3871;
	border-radius: 24px;
	color: #0A3871;
	cursor: pointer;
	height: 67px;
	width: 320px;
	font-size: 16px;
	margin-bottom: 32px;
  	transition-duration: 0.3s;
}

.copyBtn:active {
	background: #ADB5BD;
	transform: scale(1.02);
}

@media screen and (max-width: 1181px) {	
	.flex-container {
		flex-flow: wrap;
		flex-direction: column;
		justify-content: center;
	}
	.input-section {
		margin: 1%;
	}

	.input-text {
		height: 55vh;
		width: 99%;
		margin: auto;
	}

	.btn {
		margin: 16px auto;
		justify-content: center;
	}

	.output-section {
		margin: 2vh 1%;
		height: 40vh;
	}

	.output-textarea {
		height: 15vh;
		width: 99%;
		margin: auto;
		
	}

	.output-text {
		height: 15vh;
		width: 99%;
		margin: auto;
	}

	.muneco {
		display: none;
	}


}

@media screen and (max-width: 700px) {	
	main {
		height: 90vh;
	}
	
	.flex-container {
		flex-flow: wrap;
		flex-direction: column;
		justify-content: center;
	}
	.input-section {
		margin: 1%;
	}

	.input-text {
		height: 40vh;
		width: 99%;
		margin: auto;
	}

	.btn {
		display: flex;
		flex-flow: wrap;
		margin: 16px auto;
		justify-content: center;
	}

	.decryptBtn {
		margin: 24px 0 0 0;
	}

	.output-section {
		margin: 10vh 1% 0;
		height: 40vh;
	}

	.no-output {
		width: 300px;
	}

	.output-textarea {
		height: 15vh;
		width: 99%;
		margin: auto;
		
	}

	.output-text {
		height: 15vh;
		width: 99%;
		margin: auto;
	}

	.muneco {
		display: none;
	}
}